include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

variables:
  WARNING1: "ignore::ResourceWarning:orangecanvas.utils.localization" # https://github.com/biolab/orange-canvas-core/pull/312
  IGNORE_WARNINGS: "-W ${WARNING1}"

test-3.8-orange:
  extends: .test-3.8_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.8_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.9-orange:
  extends: .test-3.9_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.9_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.12-orange:
  extends: .test-3.11_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.12_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.8-oasys:
  extends: .test-3.8_glx
  script:
    - python -m pip install oasys1 AnyQt
    - python -m pip install ewokscore importlib-resources pytest
    - python -m pip install --no-deps .
    - python -m pip list
    - python -m pytest -v .

build_sdist:
  extends: .build_sdist

test_sdist-3.8:
  extends: .test_sdist-3.8_glx
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test_sdist-3.12:
  extends: .test_sdist-3.12_glx
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets
