include:
  - remote: "https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml"

test-3.6:
  extends: ".test-3.6_glx"

test-3.6-orange3-fork:
  extends: ".test-3.6_glx"
  before_script:
    # missing dependencies in the Orange3 fork
    - pip install numpy scipy PyQt5 silx chardet
    # hard fork of Orange3
    - pip install git+https://github.com/payno/orange3.git

build_sdist:
  extends: ".build_sdist"
  after_script:
    - python setup.py sdist
  only:
      - merge_requests


test_sdist-3.6:
  extends: ".test_sdist-3.6"
  script:
    - ls sdist
    - pip install --pre sdist/$(ls sdist)[test]
    - pytest --pyargs ${CI_PROJECT_NAME}.tests
  only:
      - merge_requests

build_doc:
  extends: ".build_doc"

pages:
  extends: ".pages"
