include:
  - remote: "https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml"

test-3.6:
  extends: ".test-3.6_glx"
  before_script:
    - export QT_QPA_PLATFORM=offscreen

test-3.6-orange3-fork:
  extends: ".test-3.6_glx"
  before_script:
    - export QT_QPA_PLATFORM=offscreen
    # missing dependencies in the Orange3 fork
    - pip install numpy scipy PyQt5 silx chardet
    # hard fork of Orange3
    # - pip install git+https://github.com/payno/orange3.git
    - pip install git+https://github.com/woutdenolf/orange3.git@nodeitem_animatedicon_bug

build_sdist:
  extends: ".build_sdist"

test_sdist-3.6:
  extends: ".test_sdist-3.6_glx"
  before_script:
    - export QT_QPA_PLATFORM=offscreen

build_doc:
  extends: ".build_doc"

pages:
  extends: ".pages"
