include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

variables:
  WARNING1: "ignore::ResourceWarning:orangecanvas.utils.localization" # https://github.com/biolab/orange-canvas-core/pull/312
  WARNING2: "ignore::DeprecationWarning:orangecanvas.utils.localization"
  WARNING3: "ignore::DeprecationWarning:orangecanvas.utils.localization.si"
  IGNORE_WARNINGS: "-W ${WARNING1} -W ${WARNING2} -W ${WARNING3}"

test-3.8-orange:
  extends: .test-3.8_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install Orange3 # https://gitlab.esrf.fr/workflow/ewoks/ewoksorange/-/issues/47
    - python -m pip install $QT_API $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.8_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.9-orange-qt5:
  variables:
    - QT_API: "PyQt5"
    - QT_BINDING: ""
  extends: .test-3.9_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install $QT_API $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.9_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.12-orange-qt6:
  variables:
    - QT_API: "PyQt6"
    - QT_BINDING: ""
  extends: .test-3.12_glx
  script:
    - echo PIP_INSTALL_OPTIONS $PIP_INSTALL_OPTIONS
    - python -m pip install $QT_API $PIP_INSTALL_OPTIONS .[test,orange]
    - !reference [.test-3.12_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test-3.8-oasys:
  extends: .test-3.8_glx
  script:
    - python -m pip install oasys1 AnyQt
    - python -m pip install $QT_API ewokscore importlib-resources pytest
    - python -m pip install --no-deps .
    - python -m pip list
    - python -m pytest -v .

build_sdist:
  extends: .build_sdist

test_sdist-3.8:
  extends: .test_sdist-3.8_glx
  script:
    - python -m pip install $QT_API
    - !reference [.test_sdist-3.8_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

test_sdist-3.12:
  extends: .test_sdist-3.12_glx
  script:
    - python -m pip install $QT_API
    - !reference [.test_sdist-3.12_glx, script]
  variables:
    JUPYTER_PLATFORM_DIRS: 1
    PYTEST_WARNINGS: "-W error ${IGNORE_WARNINGS}"

build_doc:
  extends: .build_doc
  script:
    - python -m pip install $QT_API
    - !reference [.build_doc, script]

pages:
  extends: .pages

assets:
  extends: .assets
