include:
  - remote: https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml

test-3.6:
  extends: .test-3.6_glx

test-3.6-oasys-orange-fork:
  extends: .test-3.6_glx
  script:
    - pip install --no-deps .
    - pip install ewokscore[test]
    - pip install importlib_resources  # python_version < "3.7"
    - pip install AnyQt
    - pip install oasys1
    - pytest --cov=./ -v .

build_sdist:
  extends: .build_sdist

test_sdist-3.6:
  extends: .test_sdist-3.6_glx

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

