include:
  - remote: "https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml"

test-3.6:
  extends: ".test-3.6_glx"

test-3.6-orange3-fork:
  extends: ".test-3.6_glx"
  before_script:
    # missing dependencies in the Orange3 fork
    - pip install numpy scipy PyQt5 silx chardet
    # hard fork of Orange3. Remove existing orange installation
    - pip install git+https://github.com/payno/orange3.git
    - pip uninstall orange-widget-base --yes
    - pip uninstall orange-canvas-core --yes
