include:
  - remote: "https://gitlab.esrf.fr/workflow/ewoks/ewoks/raw/main/.gitlab-ci-template.yml"

test-3.6:
  extends: ".test-3.6_glx"

test-3.6-orange3-fork:
  extends: ".test-3.6_glx"
  before_script:
    # missing dependencies in the Orange3 fork
    - pip install numpy scipy PyQt5 silx chardet
    # hard fork of Orange3
    - pip install git+https://github.com/payno/orange3.git

deploy_docs:
  extends: ".sphinx_and_artifacts"

pages:
  extends: ".pages"
