include:
  - project: workflow/ewoksadmin/ewoksci
    file: .gitlab-ci-template.yml

test-3.7:
  extends: .test-3.7_glx

test-3.7-orange:
  extends: .test-3.7_glx
  script:
    - python -m pip install Orange3  # install without --pre
    - python -m pip install --pre .[test,orange]
    - python -m pytest -v .

test-3.7-oasys:
  extends: .test-3.7_glx
  script:
    - python -m pip install Orange3  # install without --pre
    - python -m pip install --pre .[test,orange]
    - python -m pip uninstall orange3 -y
    - python -m pip uninstall orange-canvas-core -y
    - python -m pip uninstall orange-widget-base -y
    - python -m pip install oasys1
    - python -m pytest -v .

build_sdist:
  extends: .build_sdist

test_sdist-3.7:
  extends: .test_sdist-3.7_glx

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets

